.blog-list a{
    text-decoration: none;
    color: #555555;
}
.blog-list .my_card {
    color: #555555;
}

.block-text {
    color: #444;
    padding: 10px 0.1vw;
    margin-top: 0;
}

ol {
    padding-top: 0;
    margin-top: 0;
}

