/*OUR WORK*/
/* -------------------------------------------------- */
.our_work .card {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.our_work .card .card-body {
    padding-left: 0;
}

.our_work .card .card-body .card-title {
    font-family: Nunito, sans-serif;
    font-weight: bold;
    font-size: calc(1.1rem + 0.2vw);
    color: #333
}

.our_work .card .badge {
    letter-spacing: 1.5px;
}


/*OUR IMPACT*/
/* -------------------------------------------------- */
.our_impact .thumbnail {
    font-family: Nunito, sans-serif;
    text-align: center;
    margin-bottom: 4%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #aaa;
    overflow: hidden;
}

.our_impact .thumbnail p {
    padding: 5% 2%;
    font-size: calc(0.9rem + 0.1vw);
}

.our_impact .thumbnail img {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* OUR PATNERS */
/* -------------------------------------------------- */
.our_partners img {
    filter: grayscale(1);
    transition: all ease-in 0.3s;
}

.our_partners .right-block img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.our_partners .left-block img {
    width: 48px;
    vertical-align: middle;
    border-radius: 24px;
}

@media (max-width: 640px) {
    .our_partners .left-block img {
        width: 32px;
        border-radius: 16px;
    }
}

@media (max-width: 500px) {
    .our_partners .left-block img {
        width: 22px;
        border-radius: 11px;
    }
}

/* Contact Us */
/* -------------------------------------------------- */

.contact_form form label {
    font-weight: bold;
}

.contact_form form input {
    font-weight: bold;
    height: 6vh;
    border-radius: 1px;
}

.contact_form form textarea {
    border-radius: 1px;
    height: 10vh;
}

.contact_form form input:focus, .contact_form form textarea:focus {
    border-color: #000;;
    box-shadow: 0 0 5px #333333;
}

.fa {
    padding: 15px;
    text-align: center;
    margin: 5px 2px;
    text-decoration: none;
    transition: all 0.3s ease-in;
    color: #777777;
}

.fa:hover {
    text-decoration: none;
    color: #555555;
}


@media (max-width: 768px) {

    .our_impact .right-block, .approach .right-block, .contact_form .right-block {
        order: 1;
    }

    .our_impact .left-block, .approach .left-block, .contact_form .left-block {
        order: 2;
    }

}