
.people .my_card img {
    transition: all 0.2s ease-in;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    margin: 0 auto 2vh auto;
}

.people .my_card {
    border: none;
    box-shadow: none;
}

.people .modal .my_card .card-body {
    padding-bottom: 0;
    margin-bottom: 0;
}
.people .my_card .card-title{
    margin-bottom: 5px;
}
.people .my_card .card-text{
    font-size:  calc(1rem + 0.1vw);
}

.modal .block-text {
    padding: 1.5vh 2vw;
    font-size:  calc(0.95rem + 0.1vw);

}

.know_more_button {
    transition: all 0.2s ease-in;
    text-decoration: none;
    color: #555555;
}

.know_more_button:hover {
    color: #333333;
}

.know_more_button:hover img{
    transform: scale(1.2);
}
